* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/* section one  */
.container1 {
    background-image: url("../Images/backgrounds/h_img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.row2 {
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    margin-top: 110px;
}

.img1 {
    margin-top: 200px;
}

/* services section */
.container3 {
    background-image: url("../Images/backgrounds/s_image.jpg");
    background-size: cover;
    background-position: center;
    height: 300px;
}

.services {
    margin-top: 30px;
}

/* what we do */
#pdesign {
    display: none;
}

#devp {
    display: none;
}

#manp {
    display: none;
}

/* portfolio */
.container2{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
 
}
.portfolio1{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
#lay1,#lay2,#lay3,#lay4{
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin-left: 80px;
    margin-top: 80px;
    font-size: 30px;
    background-color: white;
    display: none;
}
.portfolio2{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
}
#over1,#over2,#over3,#over4{
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    margin-left: 80px;
    margin-top: 80px;
    font-size: 30px;
    background-color: white;
    display: none;
}

/* contact section */
.container5 {
    background-image: url("../Images/backgrounds/c_image.jpg");
    background-size: cover;
    background-position: center;
    height: 200%;
}

#mail {
    background-color: transparent;
    border: 1px solid white;
    width: 25%;
}

#names {
    background-color: transparent;
    border: 1px solid white;
    width: 25%;
    margin-right:2%;
}

#area {
    background-color: transparent;
    border: 1px solid white;

}

::-webkit-input-placeholder {
    color: white;
}

/* social icons */
.row7 {
    display: flex;
    justify-content: center;
}

li {
    list-style: none;
    display: inline-block;
    padding: 5px 5px;
}

/* footer */
footer {
    text-align: center;
}